* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: DejaVuSansMono, monospace, sans-serif;
	overflow-x: hidden;
	overflow-y: scroll;
}

body {
	overflow-y: scroll;
	background-color: #151618;
}

.container {
	width: 96vw;
	max-width: 1200px;
	margin: auto;
}

.app {
	margin-bottom: 1rem;
}

.app__container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1000px) {
	.app__container {
		grid-template-columns: repeat(3, 1fr);
		padding: 0 1rem;
	}
}

@media (max-width: 800px) {
	.app__container {
		grid-template-columns: repeat(2, 1fr);
		padding: 0 2rem;
	}
}

@media (max-width: 600px) {
	.app__container {
		grid-template-columns: 1fr;
		padding: 0 3rem;
	}
}
